h2 {border-bottom: 1px dotted #dedede;}
h3 {color: #3697CD;}
h2.tab a:hover {text-decoration:none;}
p {margin-bottom: 10px;}
table.evobackup {margin-bottom:24px;}
table.evobackup th, table.evobackup td {font-size:13px;}
table.evobackup a {
  cursor: pointer;
}
table.evobackup .btn {
  width: 15px;
}
.info {color: #777;}
.info b{color: #3697CD;}
.alert {padding: 20px;background-color: #f44336; color: white;margin-bottom: 5px;}
.success {padding: 20px;background-color: #07b922; color: white;margin-bottom: 5px;}
.success a.textlink:link {color: white!important;}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}

.yellow {font-size:14px; color:#444; background-color: yellow; border-radius:50%; border: 1px solid #f7bf04; padding:5px 7px; margin-right:5px;}
.left {float: left; padding:10px; margin-right:20px;}
.border-right {border-right: 1px dotted #dedede;}
.border-top {padding-top: 10px; border-top: 1px dotted #dedede;}
.capitalize {text-transform: capitalize;}
.element-edit-message {
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
  border-top:0!important;
  margin-bottom: 15px;
  color: #777;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switchslider {
  background-color: #2196F3;
}

input:focus + .switchslider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switchslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchslider.round {
  border-radius: 34px;
}

.switchslider.round:before {
  border-radius: 50%;
}